 <!-- About Section -->
    <section class="secondary-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>JanusGraph is a scalable graph database optimized for storing and querying graphs containing hundreds of billions of vertices and edges distributed across a multi-machine cluster.</p>
                </div>
                <div class="col-lg-4">
                    <p>JanusGraph is a project under The Linux Foundation, and includes participants from Expero, Google, GRAKN.AI, Hortonworks, IBM and Amazon.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://docs.janusgraph.org/getting-started/installation/" class="btn btn-lg btn-outline">
                        <i class="fas fa-book"></i>&nbsp; Getting started
                    </a>
                    <a href="https://github.com/JanusGraph/janusgraph" class="btn btn-lg btn-outline">
                        <i class="fab fa-github"></i>&nbsp; View on GitHub
                    </a>
                </div>
            </div>
        </div>
    </section>
