<section class="features portfolio primary-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 portfolio-item feature-item">
                <p class="second-title"><i class="fas fa-server"></i> &nbsp; Scalable
                </p>
                <div>
                    <p class="feature-text">
                        <li class="feature-text">Elastic and linear scalability for a growing data and user base</li>
                        <li class="feature-text">Data distribution and replication for performance and fault tolerance</li>
                        <li class="feature-text">Multi-datacenter high availability and hot backups</li>
                    </p>
                </div>
            </div>
            <div class="col-sm-4 portfolio-item feature-item">
                <p class="second-title"><i class="fas fa-hand-holding-usd"></i> &nbsp; Open source
                </p>
                <div>
                    <p class="feature-text">All functionality is totally free. No need to buy commercial licenses. JanusGraph is fully Open Source under the Apache 2 license.</p>
                </div>
            </div>
            <div class="col-sm-4 portfolio-item feature-item">
                <p class="second-title"><i class="fas fa-atom"></i> &nbsp; Transactional
                </p>
                <div>
                    <p class="feature-text">JanusGraph is a transactional database that can support thousands of concurrent users executing complex graph traversals in real time. Support for ACID and eventual consistency.</p>
                </div>
            </div>
            <div class="col-sm-4 portfolio-item feature-item">
                <p class="second-title"><i class="feature-icon fas fa-database"></i> &nbsp; Data Storage
                </p>
                <div>
                    <p class="feature-text">Graph data can be stored in:</p>
                    <ul class="central-list">
                        <li><a class="feature-link" href="https://cassandra.apache.org">Apache Cassandra</a></li>
                        <li><a class="feature-link" href="https://hbase.apache.org">Apache HBase</a></li>
                        <li><a class="feature-link" href="https://cloud.google.com/bigtable">Google Cloud Bigtable</a></li>
                        <li><a class="feature-link" href="https://www.oracle.com/technetwork/database/berkeleydb/overview/index-093405.html">Oracle BerkeleyDB</a></li>
                        <li><a class="feature-link" href="https://scylladb.com/">ScyllaDB</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4 portfolio-item feature-item">
                <p class="second-title"><i class="feature-icon fas fa-search"></i> &nbsp; Search
                </p>
                <div>
                    <p class="feature-text">Advanced search capabilities like full-text search can optionally be supported via:</p>
                    <ul class="central-list">
                        <li><a class="feature-link" href="https://www.elastic.co">Elasticsearch</a></li>
                        <li><a class="feature-link" href="https://lucene.apache.org/solr">Apache Solr</a></li>
                        <li><a class="feature-link" href="https://lucene.apache.org">Apache Lucene</a></li>
                    </ul>

                </div>
            </div>
            <div class="col-sm-4 portfolio-item feature-item">
                <p class="second-title"><i class="fas fa-chart-pie"></i> &nbsp; Analytics
                </p>
                <div>
                    <p class="feature-text">In addition to online transactional processing (<a class="feature-link" href="https://en.wikipedia.org/wiki/Online_transaction_processing">OLTP</a>), JanusGraph supports global graph analytics (<a class="feature-link" href="https://en.wikipedia.org/wiki/Online_analytical_processing">OLAP</a>) with its <a class="feature-link" href="https://spark.apache.org">Apache Spark</a> integration.</p>
                </div>
            </div>
            <div class="col-sm-4 portfolio-item feature-item">
                <p class="second-title"><i class="fas fa-tasks"></i> &nbsp; TinkerPop
                </p>
                <div>
                    <p class="feature-text">Native integration with the Apache TinkerPop™ graph stack:</p>
                    <ul class="central-list">
                        <li><a class="feature-link" href="https://tinkerpop.apache.org/docs/current/reference/#intro">Gremlin graph query language</a></li>
                        <li><a class="feature-link" href="https://tinkerpop.apache.org/docs/current/reference/#gremlin-server">Gremlin Server</a></li>
                        <li><a class="feature-link" href="https://tinkerpop.apache.org/docs/current/reference/#gremlin-console">Gremlin Console</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4 portfolio-item feature-item">
                <p class="second-title"><i class="fas fa-plug"></i> &nbsp; Adapters
                </p>
                <div>
                    <p class="feature-text">There are different 3rd party storage adapters for JanusGraph:</p>
                    <ul class="central-list">
                        <li><a class="feature-link" href="https://github.com/Playtika/aerospike-janusgraph-storage-backend">Aerospike</a></li>
                        <li><a class="feature-link" href="https://github.com/awslabs/dynamodb-janusgraph-storage-backend">DynamoDB</a></li>
                        <li><a class="feature-link" href="https://github.com/experoinc/janusgraph-foundationdb">FoundationDB</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4 portfolio-item feature-item">
                <p class="second-title"><i class="fas fa-eye"></i> &nbsp; Visualization
                </p>
                <div>
                    <p class="feature-text">JanusGraph supports variety of visualization tools like <a class="feature-link" href="https://arcadeanalytics.com/usermanual/#arcade-analytics">Arcade Analytics</a>, <a class="feature-link" href="https://cytoscape.org">Cytoscape</a>, <a class="feature-link" href="https://tinkerpop.apache.org/docs/current/reference/#gephi-plugin">Gephi</a> plugin for Apache TinkerPop, <a class="feature-link" href="https://github.com/bricaud/graphexp">Graphexp</a>, <a class="feature-link" href="https://cambridge-intelligence.com/keylines/janusgraph">Key Lines by Cambridge Intelligence</a>, <a class="feature-link" href="https://doc.linkurio.us/ogma/latest/tutorials/janusgraph">Linkurious</a> and <a class="feature-link" href="https://www.tomsawyer.com/perspectives">Tom Sawyer Perspectives</a>.</p>
                </div>
            </div>
        </div>
    </div>
</section>