<footer class="site-footer">
  <div class="container">
    <div class="footer-grid">
      <div class="footer-brand">
        <a class="brand" href="#top" aria-label="JanusGraph – back to top">
          {% include logomark.svg %}
          <span class="brand-name">JanusGraph</span>
        </a>
        <p>{{ site.tagline }}.</p>
        <ul class="social-list" aria-label="Social links">
          {% for network in site.social %}
          <li><a href="{{ network.url }}" aria-label="{{ network.name }}" title="{{ network.name }}">{% include icon.html name=network.icon %}</a></li>
          {% endfor %}
        </ul>
      </div>

      <nav class="footer-col" aria-label="Project">
        <h4>Project</h4>
        <ul>
          <li><a href="{{ site.project.docs }}">Documentation</a></li>
          <li><a href="{{ site.project.getting_started }}">Getting started</a></li>
          <li><a href="{{ site.project.releases }}">Releases</a></li>
          <li><a href="{{ site.project.changelog }}">Changelog</a></li>
          <li><a href="{{ site.project.repo_url }}">Source code</a></li>
        </ul>
      </nav>

      <nav class="footer-col" aria-label="Community">
        <h4>Community</h4>
        <ul>
          <li><a href="https://discord.gg/5n4fjv4QAf">Discord</a></li>
          <li><a href="{{ site.project.users_list }}">Users mailing list</a></li>
          <li><a href="{{ site.project.dev_list }}">Developers mailing list</a></li>
          <li><a href="https://stackoverflow.com/questions/tagged/janusgraph">Stack Overflow</a></li>
          <li><a href="{{ site.project.gremlin_users }}">Gremlin users group</a></li>
        </ul>
      </nav>

      <nav class="footer-col" aria-label="Foundation">
        <h4>Foundation</h4>
        <ul>
          <li><a href="{{ site.project.lf_project }}">JanusGraph at LF AI &amp; Data</a></li>
          <li><a href="https://www.linuxfoundation.org">The Linux Foundation</a></li>
          <li><a href="{{ site.project.donate }}">Donate</a></li>
          <li><a href="https://github.com/JanusGraph/janusgraph/blob/master/CONTRIBUTING.md">Contributing</a></li>
          <li><a href="https://github.com/JanusGraph/janusgraph.org">Edit this site</a></li>
        </ul>
      </nav>
    </div>

    <div class="footer-legal">
      <p>Copyright &copy; 2017–{{ site.time | date: "%Y" }} JanusGraph Authors. All rights reserved.</p>
      <p><a href="https://www.linuxfoundation.org">The Linux Foundation</a> has registered trademarks and uses trademarks. For a list of trademarks of The Linux Foundation, please see our <a href="https://www.linuxfoundation.org/trademark-usage">Trademark Usage</a> page.</p>
      <p>Apache®, Apache Hadoop, Hadoop®, Apache Spark, Apache Giraph, Apache Solr, Apache TinkerPop, and Apache Lucene® are either registered trademarks or trademarks of the <a href="https://www.apache.org">Apache Software Foundation</a> in the United States and/or other countries.</p>
    </div>
  </div>
</footer>
