   <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" id="navbar-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">{{ site.title }}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="https://docs.janusgraph.org">Docs</a>
                    </li>
                    <li class="page-scroll">
                        <a href="https://github.com/JanusGraph/janusgraph/releases">Download</a>
                    </li>
                    <li class="page-scroll">
                        <a href="https://crowdfunding.lfx.linuxfoundation.org/projects/janusgraph">
                            Donate &nbsp; <i class="fas fa-heart"></i>
                        </a>
                    </li>
                    <li class="page-scroll">
                        <div class="nav-github">
                            <a class="github-button" href="https://github.com/janusgraph/janusgraph" data-size="large" data-show-count="true" aria-label="janusgraph/janusgraph on GitHub">GitHub</a>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
