<section class="section" id="presentations" aria-labelledby="presentations-title">
  <div class="container">
    <div class="section-head section-head-row reveal">
      <div>
        <p class="eyebrow">Learn from the community</p>
        <h2 id="presentations-title">Presentations</h2>
      </div>
      <a class="btn btn-outline" href="{{ site.project.youtube }}">
        {% include icon.html name="youtube" %}<span>JanusGraph on YouTube</span>
      </a>
    </div>

    <ol class="talk-list reveal">
      {% for talk in site.data.presentations %}
      <li class="talk">
        <time class="talk-date" datetime="{{ talk.date | date: '%Y-%m-%d' }}">{{ talk.date | date: "%b %-d, %Y" }}</time>
        <div class="talk-body">
          <h3 class="talk-title"><a href="{{ talk.url }}">{{ talk.title }}</a></h3>
          <p class="talk-speakers">{{ talk.speakers }}</p>
        </div>
        <span class="talk-type">
          {% if talk.type == "slides" %}{% include icon.html name="slides" %}<span>Slides</span>{% else %}{% include icon.html name="play" %}<span>Watch</span>{% endif %}
        </span>
      </li>
      {% endfor %}
    </ol>
  </div>
</section>
