<section class="secondary-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Presentations</h2>
                <hr class="title-line check-calendar">
            </div>
            <ul class="presentations">
                <li><a href="https://training.experoinc.com/janus-meetup-august7">JanusGraph Online Meetup</a>, Ryan Stauffer, Ted Wilmes, Aaron Ploetz, Becky Nelson, & Rick Paiste - 2019.08.07</li>
                <li><a href="https://training.experoinc.com/janus-meetup-march27">JanusGraph Online Meetup</a>, Chris Hupman, Ryan Stauffer, Jan Jansen, John Mertic, & Ted Wilmes - 2019.03.27</li>
                <li><a href="https://www.slideshare.net/ptgoetz/large-scale-graph-analytics-with-janusgraph">DataWorksJun2017: Large Scale Graph Analytics with JanusGraph</a>, P. Taylor Goetz, 2017.06.13</li>
                <li><a href="https://www.slideshare.net/HBaseCon/communitydriven-graphs-with-janusgraph-77117443">HBaseCon2017 Community-Driven Graphs with JanusGraph</a>, Jing Chen He & Jason Plurad, 2017.06.12</li>
            </ul>
        </div>
    </div>
</section>
