<section class="section section-alt" id="users" aria-labelledby="users-title">
  <div class="container">
    <div class="section-head reveal">
      <p class="eyebrow">Production users</p>
      <h2 id="users-title">Trusted in production</h2>
      <p class="lede">The following organizations have deployed JanusGraph in production.</p>
    </div>

    <ul class="logo-grid reveal">
      {% for user in site.data.users %}
      <li>
        <a class="logo-tile" href="{{ user.url }}" title="{{ user.name }}">
          <img src="img/logos/{{ user.logo }}" alt="{{ user.name }}" loading="lazy" decoding="async">
        </a>
      </li>
      {% endfor %}
    </ul>

    <div class="section-cta reveal">
      <a class="btn btn-outline" href="{{ site.project.all_users }}">
        <span>See all users</span>{% include icon.html name="arrow-right" %}
      </a>
    </div>
  </div>
</section>
