<!DOCTYPE html>
<html lang="{{ site.lang | default: "en" }}">
{% include head.html %}
<body data-repo="{{ site.project.repo }}">
  <a class="skip-link" href="#main">Skip to content</a>
  {% include icons.html %}
  {% include nav.html %}
  <main id="main">
    {% include hero.html %}
    {% include highlights.html %}
    {% include features.html %}
    {% include ecosystem.html %}
    {% include events.html %}
    {% include presentations.html %}
    {% include users.html %}
    {% include community.html %}
  </main>
  {% include footer.html %}
  <script src="js/main.js?v={{ site.time | date: "%s" }}" defer></script>
</body>
</html>
